[project]
name = "ml-pipeline-engine"
readme = "README.md"
dynamic = ["version"]
requires-python = ">= 3.8"
dependencies = [
  "networkx>=3.1,<4.0",
  "python-ulid>=1.1.0,<2.0",
  "cloudpickle>=2.2.1,<3.0",
]
authors = [
  {name = "Konyaev Matvey"},
  {name = "Vasiliy Pankov"},
]
description = "Фреймворк для работы с пайплайном ML моделей"
license = {text = "MIT"}
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]

[project.optional-dependencies]
tests = [
    "pytest>=4.0.0",
    "pytest-mock>=3.10.0",
    "pre-commit>=2.0.0",
    "flake8>=3.8.3",
    "pytest-cov>=2.11.0",
    "pytest-asyncio>=0.18.3",
]

[tool.pytest.ini_options]
asyncio_mode = "auto"
addopts = "-s -vv"

[tool.setuptools.dynamic]
version = {attr = "version.version"}

[build-system]
requires = ["setuptools >= 69.0"]  # nice
build-backend = "setuptools.build_meta"
